[Unit]
Description=Unicef_Downloader_Service
Requires=unicef-init
After=unicef-init.service

[Service]
Environment="NODE_PATH=/usr/lib/node_modules"
Environment="NODE_ENV=production"
Environment="AVAHI_COMPAT_NOWARN=1"
Environment="HOME=/home/root"

Environment="MODULE_DATA_DIR=/media/sdcard"
Environment="MODULE_APP_DIR=/apps/downloader"
Environment="DOWNLOADER_PORT=80"


ExecStart=/bin/su root -c 'forever start ${MODULE_APP_DIR}/index.js'
ExecReload=/bin/su root -c 'forever restart ${MODULE_APP_DIR}/index.js'
ExecStop=/bin/su root -c 'forever stop ${MODULE_APP_DIR}/index.js'

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target