[Unit]
Description=Unicef_Monitoring_Daemon
Requires=unicef-init.service
After=unicef-init.service

[Service]
Environment="NODE_PATH=/usr/lib/node_modules"
Environment="NODE_ENV=production"
Environment="AVAHI_COMPAT_NOWARN=1"
Environment="HOME=/home/root"

Environment="MODULE_DATA_DIR=/media/sdcard/data"
Environment="MODULE_APP_DIR=/apps/monitoring"
Environment="SCRIPTS=/home/root/scripts"
Environment="REBOOT_COUNT_PATH=/home/root/REBOOT_COUNT"
Environment="MONITORING_PORT=8080"
Environment="MODULE_PACKAGES_DIR=/media/sdcard/packages"
Environment="ROTATION_SPEED_PATH=/home/root/ROTATION_SPEED"
Environment="ROTATION_DURATION_PATH=/home/root/ROTATION_DURATION"

ExecStart=/bin/su root -c 'ROTATION_DURATION=`cat /home/root/ROTATION_DURATION` ROTATION_SPEED=`cat /home/root/ROTATION_SPEED` REBOOT_COUNT=`cat /home/root/REBOOT_COUNT` SERIAL_NUMBER=`cat /factory/serial_number` node ${MODULE_APP_DIR}/app.js'

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target